{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">

<div class="sidebar border border-right col-md-3 col-lg-2 p-0 d-flex flex-column">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarMenuLabel">Project Cockpit</h5>
  </div>
  <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto flex-grow-1">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url "projectdashboard" %}">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          Notifications
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          Assigned Projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2"href="#">
          Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          Assigned team
        </a>
      </li>
    </ul>

    <hr class="my-3">

    <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="{% url "donetask" %}">
          Done Task
        </a>
      </li>
      <li class="nav-item">
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="nav-link d-flex align-items-center gap-2">Sign out</button>
        </form>
      </li>
    </ul>
  </div>
</div>
